body {
    background-color: Azure;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    color: MidnightBlue;
    font-size: 1.5em;
    text-align: left;
    font-family: 'Helvetica', sans-serif;
}

p {
    color: black;
    font-size: 1.2em;
}

a:link {
    color: blue;
}

a:visited {
    color: rgb(100, 9, 96);
}

.profile-photo {
    float: right;
    margin-left: 5%;
    margin-bottom: 10px;
    max-width: 100%;
    height: auto;
}

.content {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.title-size {
    font-size: 2em;
}

.content-CV {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.date {
    display: inline-block;
    width: 100%;
    font-weight: bold;
    color: indigo;
}

.explanation {
    display: inline-block;
    margin-left: 0;
}

.nav-style {
    background-color: #4ec8dd;
    text-align: center;
    font-size: 1.3em;
    font-weight: bold;
    padding: 15px;
}

.nav-style a {
    display: inline-block;
    margin: 0 10px;
}

/* Mobile-friendly styles */
@media (max-width: 768px) {
    h1 {
        font-size: 1.2em;
    }

    p {
        font-size: 1em;
    }

    .profile-photo {
        float: none;
        display: block;
        margin: 0 auto 10px auto;
        width: 50%;
    }

    .content,
    .content-CV {
        margin-left: 5%;
        margin-right: 5%;
    }

    .date {
        width: 100%;
        margin-bottom: 10px;/
    }

    .nav-style {
        font-size: 1em;
        padding: 10px;
    }

    .nav-style a {
        font-size: 1em;
        margin: 0 5px;
    }
}
